// This update post title, just wanna make it prettier and clearer
.post-title a {
    color: #2d5a8e !important;
    font-weight: 600 !important;
}

.posts-expand .post-title-link::before {
    background-color: #2d5a8e !important;
}

// This is used for "read more" button, i applied the same color as the title
// to give a better "section"
// the button hover style is a classic method, by simply reversing the background color with color.

.btn{
    color: #2d5a8e;
    font-weight: 600;
    background: none;
    border-color: #2d5a8e !important;
}

.btn:hover{
    color:#f4f4f3;
    border-color: #f4f4f3;
    background: #2d5a8e;


}